Для успешного выполнения этого задания вам предлагается “залезть в шкуру” трейдера.

 Имеются исторические данные по курсам валют (подсказка: ищите нужные данные в Example 2)  от ЦБ России. Пусть ваша команда выберет 5 валют (выберите любые валюты, которые вам интересны) и найдите ответы на следующие вопросы:
* для каждых последовательных 7 дней (например: 01.01.2000-07.01.2000, 02.01.2000-08.01.2000 и т. п.) найдите самую выгодную валюту - ту, относительно которой все остальные падали

* для каждого 30-дневного промежутка определите, на сколько процентов вы могли бы увеличить свой капитал за 30 дней, если бы знали курсы валют наперёд - считайте, что вечером вы можете перекладывать все ваши средства в одну или несколько валют, 
* найдите самый выгодный такой период
найдите наиболее и наименее коррелированные (по отношению друг к другу) валюты в каждом календарном году. Для этого посчитайте коэффициенты корреляции по данным за все 365/366 дней каждого года. Попробуйте выдвинуть гипотезы, почему случались те или иные взлёты/падения, в зависимости от политических и исторических событий.

In [ ]:
!pip install --quiet --upgrade --user nest_asyncio

In [ ]:
!pip install aiohttp

Collecting aiohttp
  Downloading https://files.pythonhosted.org/packages/7c/39/7eb5f98d24904e0f6d3edb505d4aa60e3ef83c0a58d6fe18244a51757247/aiohttp-3.6.2-cp36-cp36m-manylinux1_x86_64.whl (1.2MB)
     |████████████████████████████████| 1.2MB 2.8MB/s
Collecting idna-ssl>=1.0; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/46/03/07c4894aae38b0de52b52586b24bf189bb83e4ddabfe2e2c8f2419eec6f4/idna-ssl-1.1.0.tar.gz
Collecting yarl<2.0,>=1.0
  Downloading https://files.pythonhosted.org/packages/01/c9/379b807a9c298b9694d0af8ee4260be7d40ab1a11fb9d4ae9e70b1e69d96/yarl-1.6.0-cp36-cp36m-manylinux1_x86_64.whl (257kB)
     |████████████████████████████████| 266kB 20.8MB/s
Collecting multidict<5.0,>=4.5
  Downloading https://files.pythonhosted.org/packages/1a/95/f50352b5366e7d579e8b99631680a9e32e1b22adfa1629a8f23b1d22d5e2/multidict-4.7.6-cp36-cp36m-manylinux1_x86_64.whl (148kB)
     |████████████████████████████████| 153kB 18.1MB/s
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (20.2.0)
Requirement already satisfied: typing-extensions>=3.6.5; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from aiohttp) (3.7.4.3)
Requirement already satisfied: chardet<4.0,>=2.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (3.0.4)
Collecting async-timeout<4.0,>=3.0
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.6/dist-packages (from idna-ssl>=1.0; python_version < "3.7"->aiohttp) (2.10)
Building wheels for collected packages: idna-ssl
  Building wheel for idna-ssl (setup.py) ... done
  Created wheel for idna-ssl: filename=idna_ssl-1.1.0-cp36-none-any.whl size=3161 sha256=e63a7dda78979fc80cfd43bf6804caf5ba871abec32277bad45298df5b7636d8
  Stored in directory: /root/.cache/pip/wheels/d3/00/b3/32d613e19e08a739751dd6bf998cfed277728f8b2127ad4eb7
Successfully built idna-ssl
Installing collected packages: idna-ssl, multidict, yarl, async-timeout, aiohttp
Successfully installed aiohttp-3.6.2 async-timeout-3.0.1 idna-ssl-1.1.0 multidict-4.7.6 yarl-1.6.0

In [ ]:
import requests
import asyncio
import datetime
import dateutil

import xml.etree.ElementTree as ET
import pandas as pd
import aiohttp
import nest_asyncio

In [ ]:
# Загрузка таблицы кодов валют

req = requests.get("http://www.cbr.ru/scripts/XML_valFull.asp")
root = ET.ElementTree(ET.fromstring(req.content)).getroot()


df_index = ['name', 'eng_name', 'nominal', 'code', 'ISO_char_code']   
currency_code = pd.DataFrame(columns=df_index)  
  
for element in root:  
    elements = [element[0].text, element[1].text, element[2].text, element[3].text.strip(' '), element[5].text]  
    currency_code = currency_code.append(pd.Series(elements, index=df_index), ignore_index=True) 

currency_code.head()

                                       name  ... ISO_char_code
0                      Австралийский доллар  ...           AUD
1                       Австрийский шиллинг  ...           ATS
2                     Азербайджанский манат  ...           AZN
3  Фунт стерлингов Соединенного королевства  ...           GBP
4                   Ангольская новая кванза  ...           AON

[5 rows x 5 columns]

In [ ]:
'''
 Загрузка датафрейма с датой, курсом и номиналом
 по ISO_char_code
 '''

def load_currancy_by_char_code(char_code, start_date = '02/03/2001', end_date = '14/03/2020'):
    code = currency_code[currency_code['ISO_char_code']==char_code].code.values[0]
    url = "http://www.cbr.ru/scripts/XML_dynamic.asp?date_req1={}&date_req2={}&VAL_NM_RQ={}".format(start_date, end_date, code)
    req = requests.get(url)
    root = ET.ElementTree(ET.fromstring(req.content)).getroot()
    df_index = ['date', 'exchange_rate_{}'.format(char_code), 'nominal_{}'.format(char_code)]
    df = pd.DataFrame(columns=df_index)
    for element in root:
        elements = element.get('Date'), float(element[1].text.replace(',', '.')), element[0].text
        df = df.append(pd.Series(elements, index=df_index), ignore_index=True)
    return df

In [ ]:
load_currancy_by_char_code(char_code = 'AON', start_date = '02/03/2001', end_date = '30/09/2020').head()

         date  exchange_rate_AON nominal_AON
0  01.04.2001              15.76          10
1  01.05.2001              15.80          10
2  01.06.2001              15.81          10
3  01.07.2001              14.68          10
4  01.08.2001              14.59          10

In [ ]:
def set_data(data, date):
  '''Добавляет данные в dataframe'''
  global df
  tree = ET.fromstring(data)
  for valute in tree.iter('Valute'):
    df = df.append({**{'date': date}, **{val.tag: val.text for val in valute}},
                   ignore_index=True)

In [ ]:
async def get_data(sem, url, session, date):
  '''Получение данных'''
  async with sem:
    try:
        r = await session.get(url, timeout=False)
    except (aiohttp.ClientConnectorError, aiohttp.ServerDisconnectedError, aiohttp.ClientOSError):
        print('\nОшибка подключения.')
        return
    if r.status == 200:
        set_data(await r.text(), date)

In [ ]:
async def upload_data(date_start, date_end=None):
  '''Асинхронная загрузка данных'''
  date_end = date_end or datetime.date.today()
  if date_end > datetime.date.today():
    raise ValueError('Дата окончания не может быть позже текущей')
  if date_start > datetime.date.today():
    raise ValueError('Дата начала не может быть позже текущей')
  async with aiohttp.ClientSession() as session:
    tasks = []
    sem = asyncio.Semaphore(25)
    current_date = date_start
    while current_date <= date_end:
      task = asyncio.ensure_future(get_data(sem, f'http://www.cbr.ru/scripts/XML_daily.asp?date_req={current_date.strftime("%d/%m/%Y")}', session, current_date))
      tasks.append(task)
      current_date += datetime.timedelta(days=1)
    await asyncio.gather(*tasks)

In [ ]:
df = pd.DataFrame()
nest_asyncio.apply()
loop = asyncio.get_event_loop()
loop.run_until_complete(upload_data(datetime.date.today()-dateutil.relativedelta.relativedelta(months=1), datetime.date.today()))
df

     CharCode                                      Name  ...    Value        date
0         AUD                      Австралийский доллар  ...  54,9221  2020-09-17
1         AZN                     Азербайджанский манат  ...  44,1011  2020-09-17
2         GBP  Фунт стерлингов Соединенного королевства  ...  96,6644  2020-09-17
3         AMD                          Армянских драмов  ...  15,4392  2020-09-17
4         BYN                         Белорусский рубль  ...  29,0767  2020-09-17
...       ...                                       ...  ...      ...         ...
1083      SEK                             Шведских крон  ...  88,1553  2020-09-30
1084      CHF                         Швейцарский франк  ...  86,2760  2020-09-30
1085      ZAR                    Южноафриканских рэндов  ...  46,4064  2020-09-30
1086      KRW                      Вон Республики Корея  ...  68,1717  2020-09-30
1087      JPY                              Японских иен  ...  75,4267  2020-09-30

[1088 rows x 6 columns]